  <footer class="footer">
    <div class="container">
      <p>&copy; 2020 make peace not war </p>

      <ul class="list">
        <li class="list__item">
          <a href="#" class="list__link"><img src="../../img/logo2.svg" alt=""></a>
        </li>

        <li class="list__item">
          <a href="#" class="list__link"><img src="../../img/brands-and-logotypes.svg" alt=""></a>
        </li>

        <li class="list__item">
          <a href="#" class="list__link"><img src="../../img/square.svg" alt=""></a>
        </li>
      </ul>
    </div>
  </footer>

<script src="/js/main.js"></script>
</body>

</html>