.form-control {
    margin: 1rem 0;
}

.form-control label,
.form-control input {
    display: block;
    width: 100%;
    margin-bottom: 0.25rem;
}

.form-control input {
    border: 1px solid #5a81bd;
    font: inherit;
    border-radius: 2px;
}

.form-control input:focus {
    outline-color: #2870db;
}
