<%- include('../includes/head.ejs')%>

</head>

<body>
    <%- include('../includes/navigation.ejs')%>

    <main class="detail-page">
        <div class="detail-page__title">
            <h1>About Us</h1>
            <div class="detail-page-bg">
                <img src="../../img/caralog10.jpg" alt="" role="presentation">
            </div>
        </div>

        <div class="container">
            <div class="detail-page__body contact-blank">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis laborum, incidunt, architecto
                    nesciunt rem iure esse vero error soluta dolores quas libero magni placeat. Ea ipsam ratione
                    voluptatibus vel quas maiores quod culpa a! Reiciendis fugit quisquam nisi dicta, facere doloribus
                    eius, adipisci inventore odit animi itaque? Eos ullam ipsam error quidem, officiis, earum explicabo
                    animi voluptatibus repellendus nulla ut eum quae quas beatae quod tempora numquam totam recusandae.
                    Molestias amet voluptate ipsam fugit vero laudantium ducimus iusto, sequi fuga esse commodi.
                    Veritatis blanditiis cumque architecto, fugit sit ut. Harum molestiae dolores minus mollitia fugiat
                    corporis voluptate reprehenderit alias recusandae?</p>

                <p><strong>Test Lorem ipsum dolor sit amet.</strong></p>

                <img src="../../img/caralog3.jpg" alt="">


                <ul>
                    <li>12312</li>
                    <li>312312</li>
                    <li>fsdfsdsfd</li>
                </ul>

                <ol>
                    <li>12312</li>
                    <li>312312</li>
                    <li>fsdfsdsfd</li>
                </ol>
            </div>
        </div>
    </main>
</body>

<%- include('../includes/end.ejs')%>